<%- include('partials/header') %>
    <div class="jumbotron text-center">
        <h1 class="display-3">Hello</h1>
        <hr>
        <div class="container" style="padding: 1%;">
            <a class="btn btn-dark btn-lg" href="sessions/newSession" role="button" style="margin-right:16px">New
                Session</a>
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </div>
    </div>

    <%- include('partials/footer') %>