<%- include('partials/header') %>


    <div class="jumbotron centered">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">&lt / CodeShare&gt</h1>
            <p class="lead">You have to login to create a session</p>
            <hr>
            <a class="btn btn-light btn-lg" href="/register" role="button" style="margin-right:16px">Register</a>
            <a class="btn btn-dark btn-lg" href="/login" role="button" style="margin-left:16px">Login</a>

        </div>
    </div>

    <%- include('partials/footer') %>