<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Code Share</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/blackboard.min.css">

    <link rel="stylesheet" href="/css/Main-styles.css">



</head>

<body style="background: #3b3b3b;">

    <div class="topnav">
        <a class="active" href="#home">&lt / CodeShare&gt</a>
        <a id="name">News</a>
        <a id="sessionName">
            <%= nameVar %>
        </a>
        <a>Save</a>
    </div>
    <h3 id="session" style="padding-left: 1%;font-family: 'Courier New', Courier, monospace;color: aliceblue;">
    </h3>

    <div style="width: 98%;height: 100%;padding-left: 1%;">
        <textarea id="codeeditor"></textarea>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/clike/clike.min.js"></script>

    <script src="/plugins/ot/ot.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
        integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>
        const { id, name } = Qs.parse(location.search, {
            ignoreQueryPrefix: true
        })

        document.getElementById("session").innerText = window.location.host + "/sessions?id=" + id
        document.getElementById("name").innerText = name
        /** CODE EDITOR FEATURE */
        var EditorClient = ot.EditorClient;
        var SocketIOAdapter = ot.SocketIOAdapter;
        var CodeMirrorAdapter = ot.CodeMirrorAdapter;

        var socket = io.connect('http://localhost:3000');
        var codeEditor = CodeMirror.fromTextArea(document.getElementById('codeeditor'), {
            lineNumbers: true,
            // theme: 'blackboard',
            matchBrackets: true,
            mode: "clike"
        });


        var sourceCode = document.getElementById("codeeditor").innerText;
        var cmClient;


        function init(str, revision, clients, serverAdapter) {
            if (!sourceCode) {
                codeEditor.setValue(str);
            }

            cmClient = window.cmClient = new EditorClient(
                revision, clients, serverAdapter, new CodeMirrorAdapter(codeEditor)
            );
        };

        socket.on('doc', function (obj) {
            init(obj.str, obj.revision, obj.clients, new SocketIOAdapter(socket));
        });

        socket.emit('joinSession', { session: id, username: name });



    </script>
    <%- include('partials/footer') %>